*{
    margin: 0;
    padding: 0;
}
body{
  
    font-family: Arial, Helvetica, sans-serif;
}

/* ---Header */

header{
    background-color: #f63232;
    position: fixed;
    padding: 20px;
    text-align: center;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
header h1{
    border: 8px solid white;
    padding: 6px 10px;
    display: inline-block;
    border-radius: 36px;
}
.banner{
    position: relative;
}
.banner img{
    max-width: 100%;   
}
.banner .welcome{
    position: absolute;
    background-color: #feb61f;
    color: white;
    padding: 30px;
    left: 0;
    top: 30%;
}
.banner h2{
    font-size: 74px;
}
.banner h2 span {
    font-size: 1.3em;
}

/* --Nav section Start here */
nav{
    background-color: #f4f4f4;
    padding: 20px;
    position: sticky;
    top: 100px;
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    display: inline-block;
    width: 25%;
    font-size: 24px;
   
    
}
nav li a{
    text-decoration: none;
    color: black;
}
nav li a.Jointheclub{
    color: #ef5b2ad0;
}
/* Navmenu section End */

main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
article h2{
    color: #f63232;
    font-size: 48px;
}
article p{
    line-height: 2em;
    color: #4b4b4b;
}
.image{
    text-align: center;
    margin: 8px 0;
    display: inline-block;
    white-space: nowrap;
}
.image li{
    display: inline-block;
    list-style: none;
    width: 40%;
    margin: 20px 5%;
  
   
}
.image li img{
    max-width: 100%;
}

.Join{
    background-color: #f2f2f2;
    text-align: center;
    padding: 60px 20px;
    margin-left: 0;
    color: #4b4b4b;
}
.Join h2{
    font-size: 32px;
}
.Join p{
    text-align: center;
}

form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 30px;
    border: 1px dashed white;
}

/* ---Footer */
footer{
    background-color: #f63232;
    color: white;
    text-align: center;
    padding: 20px;
}

/* ---Footer section end */


/* ---Pseudo Class-- */

nav li a:hover {
    text-decoration: underline;
    color: #4b4b4b;
    opacity: 0.7;
}

.image li:hover{
    position: relative;
    cursor: pointer;
    top: -4px;
    opacity: 0.7;
    background-color: lightgray 50%;
    
}



/* ----Mobile Responsive-- */